.btn {
  font-weight: var(--font-weight-medium);
  padding: 0.5em 1.5em;
  border-radius: 2em;
  border: 2px solid var(--grey-500);
  background-color: white;
  transition: all var(--speed);

  &.btn-primary,
  &:--highlight {
    background-color: black;
    border-color: black;
    color: white;
  }

  &.btn-block {
    display: block;
    width: 100%;
  }

}
