.btn {
  font-weight: var(--font-weight-medium);
  padding: 0.5em 1.5em;
  border-radius: 2em;
  border: 2px solid var(--grey-500);
  background-color: white;
  transition: all var(--speed);
  display: inline-block;
  text-align: center;

  &.btn-primary,
  &.active,
  &:--highlight {
    background-color: black;
    border-color: black;
    color: white;
  }

  &.btn-block {
    display: block;
    width: 100%;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}
