body {
  height: 100vh;
  overflow: hidden;
}

#app {
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: auto;
  position: relative;
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem;

  @media (--md) {
    padding: 1rem 2rem;
  }

  @media (--xl) {
    padding: 1rem 4rem;
  }
}

.vfm {
  height: 100vh !important;
}
